@charset 'utf-8';

[id='pepsi'] {
  width: calc(6px * 31);

  .point {
    &.red {
      background-color: palette(crimson); // sass-lint:disable-line no-color-literals, no-color-keywords
    }

    &.blue {
      background-color: palette(bahama-blue);
    }
  }
}
