@charset 'utf-8';

.section {
  height: 100vh;

  &--apple,
  &--mastercard {
    background-color: black(0.95);
  }

  &--adobe {
    background-color: palette(red); // sass-lint:disable-line no-color-keywords, no-color-literals
  }
}
