@charset 'utf-8';

$palette: (
  blue:               #00F, // sass-lint:disable-line no-color-keywords
  dodger-blue:        #1DA1F2,
  red:                #F00 // sass-lint:disable-line no-color-keywords
);
