@charset 'utf-8';

$palette: (
  blaze-orange:       #FF5F00,
  blue:               #00F, // sass-lint:disable-line no-color-keywords
  dodger-blue:        #1DA1F2,
  eboo:               #EB001B,
  gold:               #FFD600, // sass-lint:disable-line no-color-keywords
  red:                #F00, // sass-lint:disable-line no-color-keywords
  tree-poppy:         #F79E1B
);
